<footer class="elite-footer">
  <div class="footer-top-grid">
    <div class="footer-col">
      <h4>School of Engineering &amp; Technology</h4>
      <div class="contact-details">
        <p>Samrat Vikramaditya Vishwavidyalaya<br>Ujjain, Madhya Pradesh, India</p>
        <p><i class="fa-solid fa-phone" style="width:25px;color:#8892b0;"></i> <a href="tel:+918770122362">+91-8770122362</a></p>
        <p><i class="fa-solid fa-envelope" style="width:25px;color:#8892b0;"></i> <a href="mailto:soet@vikramuniv.ac.in">soet@vikramuniv.ac.in</a></p>
        <p><i class="fa-solid fa-globe" style="width:25px;color:#8892b0;"></i> <a href="https://soet.ac.in" target="_blank">soet.ac.in</a></p>
      </div>
    </div>
    <div class="footer-col">
      <h4>Academics</h4>
      <ul class="elite-links">
        <li><a href="#">Departments</a></li>
        <li><a href="programs.html">Educational Programmes</a></li>
        <li><a href="#">Rules &amp; Regulations</a></li>
        <li><a href="https://vikram.mponline.gov.in">Online Services</a></li>
        <li><a href="campus-life.html">Campus Life</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>Institutional</h4>
      <ul class="elite-links">
        <li><a href="#">NIRF Ranking</a></li>
        <li><a href="#">NAAC Accreditation</a></li>
        <li><a href="anti-ragging.html">Anti-Ragging Committee</a></li>
        <li><a href="contact.html">Contact Directory</a></li>
        <li><a href="sitemap.html">Sitemap</a></li>
      </ul>
    </div>
    <div class="footer-col live-campus-widget">
      <h4>Campus Live</h4>
      <div class="data-row"><span class="data-label">Date &amp; Time</span><span class="data-value"><span id="date">--</span> | <span id="time">--</span></span></div>
      <div class="data-row"><span class="data-label">Location</span><span class="data-value" style="font-size:12px;">स्वामी विवेकानन्द स्नातक भवन</span></div>
      <div class="data-row"><span class="data-label">Conditions</span><span class="data-value"><span id="weather">--</span>, <span id="temp">--</span></span></div>
    </div>
  </div>
  <div class="footer-bottom-bar">
    <div class="bottom-bar-content">
      <div class="legal-text">&copy; 2026 Student Tech Team SOET.<br>All rights reserved.</div>
      <div class="footer-logo-center"><a href="index.html"><img src="images/logo2.png" alt="SOET University Logo"></a></div>
      <div class="visitor-stats">Last Updated: <span id="lastUpdated"></span><br>Unique Visitors: <span id="visitorCount"></span></div>
    </div>
  </div>
</footer>
