<header>
  <div class="top-right"></div>
</header>
<header>
  <div class="logo-area">
    <div class="left-header">
      <a href="index.html">
        <img src="images/logo.png" class="logo" alt="SOET logo">
      </a>
      <div class="title">
        <h2>Samrat Vikramaditya Vishwavidyalaya</h2>
        <h1>School of Engineering and Technology</h1>
      </div>
    </div>
    <div class="right-emblems">
      <img src="images/indian-national-emblem-ashokas-lion.png" class="emblem-right" alt="Indian National Emblem">
      <a href="https://www.india.gov.in" target="_blank">
        <img src="images/const.png" class="constitution" alt="Constitution of India">
      </a>
    </div>
  </div>
</header>
