<nav class="navbar">
  <a href="index.html" class="home-icon"><i class="fa-solid fa-house"></i></a>
  <li class="nav-item">
    <a href="about.html">About us</a>
    <div class="dropdown-menu">
      <a href="about.html#about-overview">Overview</a>
      <a href="about.html#about-vision">Vision &amp; Mission</a>
      <a href="about.html#about-leadership">Vice-Chancellor/Director's Message</a>
      <a href="about.html#about-history">History</a>
      <a href="about.html#about-administration">Administration and Organization HOD details</a>
      <a href="about.html#about-contact">Contact US / How to reach</a>
    </div>
  </li>
  <li class="nav-item">
    <a href="campus-life.html">Campus Life</a>
    <div class="dropdown-menu">
      <a href="dean-office.html">Office of the Dean</a>
      <a href="hostels-dining.html">Hostels and Dining facilities</a>
      <a href="ncc-nss.html">NCC &amp; NSS</a>
      <a href="clubs-society.html">Clubs and Societies</a>
      <a href="sports.html">Sports Infrastructure and Teams</a>
      <a href="annual-fests.html">Annual Fests</a>
    </div>
  </li>
  <li class="nav-item">
    <a href="academics.html">Academics</a>
    <div class="dropdown-menu">
      <a href="programs.html">Programs Offered</a>
      <a href="undergraduate.html">Under-Graduate</a>
      <a href="postgraduate.html">Post-Graduate</a>
      <a href="nptel.html">NPTEL/MOOCS</a>
      <a href="library.html">Central and College Library</a>
      <a href="exam-cell.html">Examination Cell</a>
    </div>
  </li>
  <li class="nav-item">
    <a href="admission.html">Admissions</a>
    <div class="dropdown-menu">
      <a href="why-soet.html">Why SOET Ujjain?</a>
      <a href="life-in-ujjain.html">Life in Ujjain</a>
      <a href="btech-admissions.html">B.TECH Admissions</a>
      <a href="mtech-programs.html">M.TECH/PHD Admissions</a>
      <a href="admissions-faq.html">Admission FAQ</a>
      <a href="anti-ragging.html">Anti-Ragging Policy</a>
    </div>
  </li>
  <li class="nav-item">
    <a href="research.html">Research and Innovations</a>
    <div class="dropdown-menu">
      <a href="research.html#rnd-dean">Dean of R&amp;D</a>
      <a href="research.html#rnd-projects">Sponsored Projects and Grants</a>
      <a href="research.html#rnd-patents">Patents &amp; Publications</a>
      <a href="research.html#rnd-facilities">Central Research Facilities</a>
      <a href="research.html#rnd-incubation">Incubation Center &amp; E-Cell</a>
    </div>
  </li>
  <li class="nav-item">
    <a href="placement.html">Training &amp; Placement cell</a>
    <div class="dropdown-menu">
      <a href="placement.html#tp-message">Message from T&amp;P Officer</a>
      <a href="placement.html#tp-stats">Placement Statistics and Annual Report</a>
      <a href="placement.html#tp-brochure">Official Placement Brochure</a>
      <a href="placement.html#tp-procedure">Recruitment Procedure</a>
      <a href="placement.html#tp-skills">Student Skill Development</a>
    </div>
  </li>
  <li class="nav-item"><a href="alumni.html">Alumni</a></li>
  <a href="contact.html">Contact Us</a>
  <li>
    <a href="#" onclick="openSearch()">
      <i class="fa-solid fa-magnifying-glass search-icon"></i>
    </a>
  </li>
</nav>
